<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TbilisiBus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A26FF801FA20041007E5DA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A26FF941FA20041007E5DA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A26FF9F1FA20041007E5DA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
